body
{
  background-color : #A2C257;
}
p
{
  text-align:center;
}
#login
{
  text-align:center;
}
#randQuote
{
   text-align:center;
}
#browseQuotes
{
   text-align:center;
}
#button
{
   text-align:center;
}
#webText
{
  text-align:center;
}